* {
    box-sizing: border-box;
}
html, body, #mapid {
    height: 100%;
    width: 100vw;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    height: 100%;
    grid-gap: 4px;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 60% 40%;
}
.peta {
    grid-column: 1/-1;
}
.gambar {
    background: lightblue;
    grid-column: 1/6;
}
.review {
    background: yellow;
    grid-column: 6/-1;
}