html,body,ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
body {
    width: 100%;
}
h2 {
    display: inline-block;
}
a {
    color: black;
    text-decoration: none;
}
li {
    list-style-type: none;
}
.nav,.konten1,.konten2,.konten3,.footer,.sidebar {
    transition: all 0.5s ease-in 0.5s;
    border-radius: 5px;
    box-shadow: 5px 55px 50px -15px #b6b6b6; 
}
.container {
    display: grid;
    width: 80%;
    margin: 20px auto;
    box-sizing: border-box;
    grid-gap: 10px;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 10% 25% 25% 25% 15%;
}

.menu {
    grid-column: 1/4;
    
}
.wrapper {
    width: 100%;
    padding: 10px;
    display: flex;
}

.nav {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    display: flex;
    background-color: lightseagreen;
}
.logo {
    width: 20%;
    padding: 20px;

}
.logo > img {
    width: 50%;
}
.title {
    width: 80%;
    padding: 0px 20px;
    text-align: center;
}

.sidebar {
    grid-row: 2/5;
    background-color: rgb(148, 188, 47);
    box-sizing: border-box;
}

.sidebar-profile {
    width: 100%;
    height: 100%;
}

.sidebar-profile > img {
    max-width: 100%;
    max-height: 100%;
}

.konten1, .konten2, .konten3 {
    grid-column: 2/4;
    color: white;
    background-color: #584b4f;
    box-sizing: border-box;
    padding: 5px 20px;
}
.konten1 > .wrapper > a, .konten2 > .wrapper > a, .konten3 > .wrapper > a {
    color: white;
} 
.footer {
    color: black;
    padding: 5px 10px;
    grid-column: 1/4;
    background-color: gold;
}


@media screen and (max-width: 750px) {
    .container {
        width: 100%;
    }
    .sidebar {
        grid-row: 2/2;
        grid-column: 1/4;
    }
    .logo {
        padding: 20px;
    }
    .konten1, .konten2, .konten3 {
        grid-column: 1/4;
    }
    
    .logo > img {
        width: 100%;
    }
    .sidebar-profile > img {
        max-height: 100%;
    }
    .sidebar-profile {
        width: 30%;
        height: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 400px) {
    .container {
        margin: 0 auto;
        height: 100vh;
    }
    .logo {
        padding: 0px 10px;
    }
    h2 {
        margin: 10px 0px;
    }
}
